<h3>Главная</h3>

<div class="demoscene" style="height: 700px; position: relative;">
  <svg style="height: 100%; width: 760px; margin: 0 auto; position: absolute; z-index: -1">
    <!-- Дом, комнаты -->
    <rect class="houseLight" x="20" y="20" width="750" height="650" style="fill: white; stroke: gray;"></rect>
    <rect class="bedRoom1Light" x="20" y="20" width="250" height="300" style="fill: white; stroke: gray;"></rect>
    <rect class="bedRoom2Light" x="270" y="20" width="250" height="300" style="fill: white; stroke: gray;"></rect>
    <rect class="bathroomLight" x="620" y="20" width="150" height="300" style="fill: white; stroke: gray;"></rect>
  </svg>
  <svg style="height: 100%; width: 760px; margin: 0 auto; position: absolute; z-index: 1">
    <!-- Стены -->
    <rect x="10" y="5" width="20" height="130" style="fill: black;"></rect>
    <line x1="10" y1="135" x2="10" y2="180" style="stroke: grey; stroke-width: 2"></line>
    <line x1="13" y1="135" x2="13" y2="180" style="stroke: grey; stroke-width: 2"></line>
    <line x1="16" y1="135" x2="16" y2="180" style="stroke: grey; stroke-width: 2"></line>
    <line x1="20" y1="135" x2="20" y2="180" style="stroke: grey; stroke-width: 2"></line>
    <rect x="270" y="20" width="10" height="300" style="fill: black;"></rect>
    <rect x="510" y="20" width="10" height="300" style="fill: black;"></rect>
    <rect x="610" y="20" width="10" height="120" style="fill: black;"></rect>
    <line x1="750" y1="130" x2="750" y2="180" style="stroke: grey; stroke-width: 2"></line>
    <line x1="753" y1="130" x2="753" y2="180" style="stroke: grey; stroke-width: 2"></line>
    <line x1="756" y1="130" x2="756" y2="180" style="stroke: grey; stroke-width: 2"></line>
    <line x1="760" y1="130" x2="750" y2="180" style="stroke: grey; stroke-width: 2"></line>
    <rect x="610" y="200" width="10" height="120" style="fill: black;"></rect>
    <rect x="740" y="5" width="20" height="130" style="fill: black;"></rect>
    <rect x="10" y="10" width="150" height="20" style="fill: black;"></rect>
    <line x1="160" y1="10" x2="375" y2="10" style="stroke: grey; stroke-width: 2"></line>
    <line x1="160" y1="13" x2="375" y2="13" style="stroke: grey; stroke-width: 2"></line>
    <line x1="160" y1="16" x2="375" y2="16" style="stroke: grey; stroke-width: 2"></line>
    <line x1="160" y1="20" x2="375" y2="20" style="stroke: grey; stroke-width: 2"></line>
    <rect x="610" y="310" width="150" height="10" style="fill: black;"></rect>
    <rect x="20" y="310" width="150" height="10" style="fill: black;"></rect>
    <rect x="250" y="310" width="180" height="10" style="fill: black;"></rect>
    <rect x="375" y="10" width="150" height="20" style="fill: black;"></rect>
    <rect x="605" y="10" width="140" height="20" style="fill: black;"></rect>
    <rect x="600" y="660" width="140" height="20" style="fill: black;"></rect>
    <line x1="20" y1="670" x2="600" y2="670" style="stroke: grey; stroke-width: 2"></line>
    <line x1="20" y1="673" x2="600" y2="673" style="stroke: grey; stroke-width: 2"></line>
    <line x1="20" y1="676" x2="600" y2="676" style="stroke: grey; stroke-width: 2"></line>
    <line x1="20" y1="680" x2="600" y2="680" style="stroke: grey; stroke-width: 2"></line>
    <rect x="10" y="180" width="20" height="510" style="fill: black;"></rect>
    <rect x="740" y="180" width="20" height="510" style="fill: black;"></rect>
    <!-- Мебель -->
    <!-- Кровати, диваны -->
    <rect x="30" y="30" width="200" height="130"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="280" y="30" width="200" height="100"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="90" y="30" width="140" height="130"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="340" y="30" width="140" height="100"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="40" y="35" width="40" height="55"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="40" y="100" width="40" height="55"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="290" y="40" width="40" height="60"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="30" y="580" width="200" height="90"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="45" y="655" width="170" height="15"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="30" y="580" width="15" height="90"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="215" y="580" width="15" height="90"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <!-- Столы, шкафы -->
    <rect x="30" y="240" width="120" height="70"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="50" y="320" width="100" height="50"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="300" y="320" width="100" height="50"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="400" y="500" width="100" height="170"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="350" y="515" width="50" height="50"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="350" y="595" width="50" height="50"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="500" y="515" width="50" height="50"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="500" y="595" width="50" height="50"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="425" y="450" width="50" height="50"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="350" y="515" width="5" height="50"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="350" y="595" width="5" height="50"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="545" y="515" width="5" height="50"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="545" y="595" width="5" height="50"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="425" y="450" width="50" height="5"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="660" y="320" width="80" height="335"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <circle cx="700" cy="365" r="35"
          style="fill: white; stroke:grey;stroke-width:2"></circle>
    <rect x="660" y="415" width="80" height="80"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="660" y="495" width="80" height="80"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <rect x="660" y="575" width="80" height="80"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <circle cx="680" cy="520" r="10"
    style="fill: white; stroke:grey;stroke-width:2"></circle>
    <circle cx="715" cy="520" r="10"
    style="fill: white; stroke:grey;stroke-width:2"></circle>
    <circle cx="680" cy="555" r="10"
    style="fill: white; stroke:grey;stroke-width:2"></circle>
    <circle cx="715" cy="555" r="10"
    style="fill: white; stroke:grey;stroke-width:2"></circle>
    <!-- Ванная -->
    <rect x="620" y="210" width="120" height="100"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <ellipse cx="680" cy="260" rx="50" ry="40"
             style="fill: white; stroke:grey;stroke-width:2" />
    <rect x="660" y="30" width="40" height="20"
          style="fill: white; stroke:grey;stroke-width:2"></rect>
    <ellipse cx="680" cy="70" rx="10" ry="20"
             style="fill: white; stroke:grey;stroke-width:2" />
    <ellipse cx="680" cy="70" rx="7" ry="15"
             style="fill: white; stroke:grey;stroke-width:2" />
    <ellipse cx="730" cy="150" rx="15" ry="25"
             style="fill: white; stroke:grey;stroke-width:2" />
    <ellipse cx="730" cy="150" rx="10" ry="18"
             style="fill: white; stroke:grey;stroke-width:2" />
  </svg>
  <svg class="entrDoor"
       style="height: 100%; width: 760px; margin: 0 auto; position: absolute; z-index: 1">
    <rect x="525" y="10" width="80" height="10"
          style="fill: red; stroke:grey;stroke-width:2"></rect>
  </svg>
  <svg class="bed1Door"
       style="height: 100%; width: 760px; margin: 0 auto; position: absolute; z-index: 1">
    <rect x="170" y="310" width="80" height="10"
          style="fill: red; stroke:grey;stroke-width:2"></rect>
  </svg>
  <svg class="bed2Door"
       style="height: 100%; width: 760px; margin: 0 auto; position: absolute; z-index: 1">
    <rect x="430" y="310" width="80" height="10"
          style="fill: red; stroke:grey;stroke-width:2"></rect>
  </svg>
  <svg class="bathDoor"
       style="height: 100%; width: 760px; margin: 0 auto; position: absolute; z-index: 1">
    <rect x="610" y="130" width="10" height="80"
          style="fill: red; stroke:grey;stroke-width:2"></rect>
  </svg>
</div>

<div class="rows">
  <!-- Выводим циклом все наши сенсоры -->
  <div class="medium-6 columns" ng-repeat="s in sensors track by $index">
    <!-- Название сенсора, является уникальным -->
    <h4 ng-bind="s.name"></h4>
    <!-- Значение сенсора, если оно булиновское -->
    <div class="switch" ng-if="s.type === 'bool'">
      <input id="{{$index}}" type="checkbox" ng-model="s.value">
      <label for="{{$index}}"></label>
    </div>
    <!-- Значение сенсора, если доступно больше 2-х возмжных значений -->
    <div ng-if="s.type === 'digit'">
      <ui-knob value="s.value" options="s.options"></ui-knob>
    </div>
  </div>
</div>
