<h3>Сценарии</h3>

<div class="row content">

  <div class="large-12 columns home_middle">
    <ul class="accordion" data-accordion id="myAccordion">
      <li class="accordion-navigation rows"
          style="margin-bottom: 33px !important;"
          ng-repeat="scenario in all.scenarios track by $index">
          <a href="#{{scenario.name}}" ng-bind="scenario.name" class="large-10 columns"></a>
          <button type="button" class="button success large-2 columns"
                  style="height: 57px; padding-top: 0.5rem;"
                  ng-click="runScenario(scenario.name)">Запустить</button>
        <ul class="content" id="{{scenario.name}}">
          <li ng-repeat="sensor in scenario.sensors track by $index"
              style="list-style-type: none;">
              <button type="button" class="button secondary" style="width:100%;"
                      ng-bind="all.sensors[sensor].name"
                      ng-click="showSensor(sensor)">Запустить</button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
